In [261]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

Step 1. Read the .txt version of the current org tree into a Pandas DataFrame, retaining only rows with actual nodes in levels 1-6.

In [262]:
#read the relevant columns of new tree into a Pandas DataFrame object as strings

df = pd.read_csv('http://baimanuals.berkeley.edu/treeReports/UCBDTREE.txt',sep=';',header= 4, usecols = [0,1], dtype = str)

In [263]:
#specify the values I'm looking for for each column

values = {'Node Name': ['A'], 'Level': ['1','2','3','4','5','6']}

In [264]:
#create a list of whether each row should be included ('true') or excluded ('false') based on whether any of the columns in the 
#row contain the specified values

df_mask = df.isin(values).any(1)

In [313]:
#create a table with only the rows from above that were coded 'true'

the_table=df[df_mask]

Step 2. Read the .txt version of the old org tree (preformatted and saved in the notebook during previous operations) into a Pandas DataFrame.

In [312]:
#read the relevant columns of old tree (preformatted and saved in the notebook) into a Pandas DataFrame object as strings

old_table = pd.read_csv('old_tree.txt',sep=';',header= 0, usecols = [0,1], dtype = str)

Step 3. Compare to see if there are any values in the new table that do not appear in the old table

In [280]:
#create a variable containing all of the node names from the old table as an array

old_node_names = old_table['Node Name'].values

In [281]:
#specify that I'm looking for rows where the value in 'Node Name' matches something in the old array of node names

values = {'Node Name': old_node_names}

In [285]:
#create a list of whether each row should be included ('true') or excluded ('false') based on whether any of the columns in the 
#row contain the specified values
new_table_mask_inverse = the_table.isin(values).any(1)

In [283]:
#because I'm looking for the rows that do NOT meet the criteria above, invert the values of the booleans in the series that is 
#the result of the preious step

new_table_mask = ~new_table_mask_inverse

In [284]:
#apply the above filter to the new_table DataFrame and read out the results 

new_values = the_table[new_table_mask]
new_values

Step 4. Compare the tables to see if any values have been dropped from the new table

In [272]:
#create an array of the node names from the current table
new_node_names = the_table['Node Name'].values

In [273]:
#specify that I'm looking for rows where the value in Node Name matches something in the array of current node names
values = {'Node Name': new_node_names}

In [277]:
#create a list of whether each row should be included ('true') or excluded ('false') based on whether any of the columns in the 
#row contain the specified values
old_table_mask_inverse = old_table.isin(values).any(1)

In [275]:
#because I'm looking for the rows that do NOT meet the criteria above, invert the values of the booleans in the series that is 
#the result of the preious step
old_table_mask = ~old_table_mask_inverse

In [276]:
#apply the criteria above to the old org tree and read out the resulting values
deprecated_values = old_table[old_table_mask]
deprecated_values

     Node Name Level
2019     ZXZZY     4

Step 5. Write the results of the comparisons into csv files unless they are empty

In [311]:
#create today's date as a string for inclusion in filenames
today = dt.datetime.today().strftime("%Y-%m-%d")

In [ ]:
#if there are values in the new values dataframe, write them to a file
if new_values.size > 0:
    new_values.to_csv(path_or_buf = ('added as of ' + today + '.txt'), sep= ',')

In [310]:
#if there are values in the deprecated values dataframe, write them to a file
if deprecated_values.size > 0:
    deprecated_values.to_csv(path_or_buf = ('deprecated as of ' + today + '.txt'), sep= ',')

In [260]:
#write the formatted current tree to the directory as the 'old tree' for use next time
new_table.to_csv(path_or_buf = "old_tree.txt" , sep = ';', index = False, )

Bloody well done!!!