In [261]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

Step 1. Read the .txt version of the current org tree into a Pandas DataFrame, retaining only rows with actual nodes in levels 1-6.

In [262]:
#read the relevant columns of new tree into a Pandas DataFrame object as strings

df = pd.read_csv('http://baimanuals.berkeley.edu/treeReports/UCBDTREE.txt',sep=';',header= 4, usecols = [0,1], dtype = str)

In [263]:
#specify the values I'm looking for for each column

values = {'Node Name': ['A'], 'Level': ['1','2','3','4','5','6']}

In [264]:
#create a list of whether each row should be included ('true') or excluded ('false') based on whether any of the columns in the 
#row contain the specified values

df_mask = df.isin(values).any(1)

In [265]:
#create a table with only the rows from above that were coded 'true'

the_table=df[df_mask]
the_table

     Node Name Level
1        UCBKL     1
2        COLLE     2
3        CENVD     3
4        DACED     4
5        DACE5     5
6        DACE6     6
28       DBARC     4
29       DBAR5     5
30       DBAR6     6
43       DCCRP     4
44       DCCR5     5
45       DCCR6     6
54       DFLAE     4
55       DFLA5     5
56       DFLA6     6
66       CO1NR     3
67       MANRD     4
68       MACFS     5
69       MACF6     6
94       MADDF     5
95       MADD6     6
101      MAOPS     5
102      MAOP6     6
116      MBARC     4
117      MBAGS     5
118      MBAG6     6
126      MBINR     5
127      MBIN6     6
131      MCESP     4
132      MCECO     5
...        ...   ...
8118     YMNST     4
8124     YJNST     5
8126     YLESP     4
8127     YLECO     5
8141     YJECO     6
8143     YLIBD     5
8150     YJIBD     6
8152     YLSOC     5
8153     YLSO6     6
8158     YKARE     4
8167     YJARE     5
8169     YECOM     4
8172     YGDVW     4
8181     YHSPH     4
8185     YJCNR     4
8186     YJDOF     5
8201     YJFOC     5
8205     YJFSD     5
8212     OTHR7     3
8213     YAVPR     4
8220     YAILE     5
8229     YACLP     5
8233     YBITS     4
8241     YAITS     5
8243     OTHR9     3
8244    OTHR11     4
8245     YAUEI     5
8255     OTHRH     2
8256     OTHH3     3
8257     ZXZZH     4

[2020 rows x 2 columns]

Step 2. Read the .txt version of the old org tree (preformatted and saved in the notebook during previous operations) into a Pandas DataFrame.

In [266]:
#read the relevant columns of old tree (preformatted and saved in the notebook) into a Pandas DataFrame object as strings

old_table = pd.read_csv('old_tree.txt',sep=';',header= 0, usecols = [0,1], dtype = str)
old_table

     Node Name Level
0        UCBKL     1
1        COLLE     2
2        CENVD     3
3        DACED     4
4        DACE5     5
5        DACE6     6
6        DBARC     4
7        DBAR5     5
8        DBAR6     6
9        DCCRP     4
10       DCCR5     5
11       DCCR6     6
12       DFLAE     4
13       DFLA5     5
14       DFLA6     6
15       CO1NR     3
16       MANRD     4
17       MACFS     5
18       MACF6     6
19       MADDF     5
20       MADD6     6
21       MAOPS     5
22       MAOP6     6
23       MBARC     4
24       MBAGS     5
25       MBAG6     6
26       MBINR     5
27       MBIN6     6
28       MCESP     4
29       MCECO     5
...        ...   ...
1990     YMNST     4
1991     YJNST     5
1992     YLESP     4
1993     YLECO     5
1994     YJECO     6
1995     YLIBD     5
1996     YJIBD     6
1997     YLSOC     5
1998     YLSO6     6
1999     YKARE     4
2000     YJARE     5
2001     YECOM     4
2002     YGDVW     4
2003     YHSPH     4
2004     YJCNR     4
2005     YJDOF     5
2006     YJFOC     5
2007     YJFSD     5
2008     OTHR7     3
2009     YAVPR     4
2010     YAILE     5
2011     YACLP     5
2012     YBITS     4
2013     YAITS     5
2014     OTHR9     3
2015    OTHR11     4
2016     YAUEI     5
2017     OTHRH     2
2018     OTHH3     3
2019     ZXZZY     4

[2020 rows x 2 columns]

Step 3. Compare to see if there are any values in the new table that do not appear in the old table

In [280]:
#create a variable containing all of the node names from the old table as an array

old_node_names = old_table['Node Name'].values

In [281]:
#specify that I'm looking for rows where the value in 'Node Name' matches something in the old array of node names

values = {'Node Name': old_node_names}

In [285]:
#create a list of whether each row should be included ('true') or excluded ('false') based on whether any of the columns in the 
#row contain the specified values
new_table_mask_inverse = the_table.isin(values).any(1)

In [283]:
#because I'm looking for the rows that do NOT meet the criteria above, invert the values of the booleans in the series that is 
#the result of the preious step

new_table_mask = ~new_table_mask_inverse

In [284]:
#apply the above filter to the new_table DataFrame and read out the results 

new_values = the_table[new_table_mask]
new_values

Step 4. Compare the tables to see if any values have been dropped from the new table

In [272]:
#create an array of the node names from the current table
new_node_names = the_table['Node Name'].values

In [273]:
#specify that I'm looking for rows where the value in Node Name matches something in the array of current node names
values = {'Node Name': new_node_names}

In [277]:
#create a list of whether each row should be included ('true') or excluded ('false') based on whether any of the columns in the 
#row contain the specified values
old_table_mask_inverse = old_table.isin(values).any(1)

In [275]:
#because I'm looking for the rows that do NOT meet the criteria above, invert the values of the booleans in the series that is 
#the result of the preious step
old_table_mask = ~old_table_mask_inverse

In [276]:
#apply the criteria above to the old org tree and read out the resulting values
deprecated_values = old_table[old_table_mask]
deprecated_values

     Node Name Level
2019     ZXZZY     4

Step 5. Write the results of the comparisons into csv files unless they are empty

In [311]:
#create today's date as a string for inclusion in filenames
today = dt.datetime.today().strftime("%Y-%m-%d")

In [ ]:
#if there are values in the new values dataframe, write them to a file
if new_values.size > 0:
    new_values.to_csv(path_or_buf = ('added as of ' + today + '.txt'), sep= ',')

In [310]:
#if there are values in the deprecated values dataframe, write them to a file
if deprecated_values.size > 0:
    deprecated_values.to_csv(path_or_buf = ('deprecated as of ' + today + '.txt'), sep= ',')

In [260]:
#write the formatted current tree to the directory as the 'old tree' for use next time
new_table.to_csv(path_or_buf = "old_tree.txt" , sep = ';', index = False, )

Bloody well done!!!